//// CSS VARIABLES ////

:root {
  //// TYPOGRAPHY ////
  --font-family: "Lato", sans-serif;
  
  //// COLOR ////
  --font-color: #fff;
  --form-color: #c0ca33;
  --black: #000000;
  --form-color-background: #263238;
  --form-color-alpha: 192, 202, 51;
  --form-color-text: 255, 255, 255;
  --form-color-question: 255, 255, 255;


}
