//// CSS VARIABLES ////

:root {
  //// TYPOGRAPHY ////
  --font-family: "Lato", sans-serif;
  
  //// COLOR ////
  --font-color: #fff;
  --form-color: #c0ca33;
  --form-color-background: #263238;
  --black: #000000;
}
