@import "./base/fonts";
@import "./base/normalize";
@import "./base/variables";
@import "./base/mixins";
@import "./base/base";

@import "./components/forms";


.container {
    display: grid;
    grid-template-areas:
        "header header"
        "content navbar";
    grid-template-columns: auto 50px;
    grid-template-rows: 50px auto;
    height: 100%;
    transition: all 1s 1s;
    width: 100%;

}
